<% if logged_in? %>
  <script type="text/javascript">
    CURRENT_USER_ID = <%= current_user.id %>;
    GUEST = false;
    <% if current_user.username.downcase == "guest" %>
      GUEST = true;
    <% end %>
  </script>
<% end %>
<%= javascript_include_tag 'application' %>
<div id="content">
</div>
