.auth-wrap {
  width: 100%;
  position: absolute;
  background: url("http://res.cloudinary.com/catstagram/image/upload/v1445459344/2012_Suedchinesischer_Tiger_yxztht.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.auth-wrap h1 {
  text-shadow: 2px 4px 5px #666;
}

#signup-message a{
  color: #75FA42;
}

#signin-message a{
  color: #FF5107;
}

.signing {
  color: #666699;
  margin: auto;
  width: 80%;
  padding: 2px;
  height: 15px;
}

input.signing {
  height: 25px;
  font-size: 14px;
}

.auth-wrap > .form-wrap {
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;
  border-radius: 5%;
  padding: 20px;
  width: 300px;
}

#guest-button {
  width: 37px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  outline: none;
  background-color: inherit;
  background: inherit;
  color: cornflowerblue;
  text-align: center;
}

#guest-button:hover {
  text-decoration: underline;
}
